SSWindows/SSWindows.WindowsPhone/SampleData/PlaceDataSource/PlaceDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Blend.SampleData.PlaceDataSource" targetNamespace="Blend.SampleData.PlaceDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PlaceDataSource" type="tns:PlaceDataSource" />
  <xs:complexType name="PlaceDataSource">
    <xs:sequence>
      <xs:element name="PlaceList" type="tns:PlaceList" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PlaceList">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="PlaceListItem" type="tns:PlaceListItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PlaceListItem">
    <xs:sequence>
      <xs:element name="Images" type="tns:Images" />
    </xs:sequence>
    <xs:attribute blend:Format="Company Name" name="Title" type="xs:string" />
    <xs:attribute blend:FormatParameters="100,12" name="Description" type="xs:string" />
    <xs:attribute blend:Format="Name" name="OriginalPoster" type="xs:string" />
    <xs:attribute blend:FormatParameters="2" name="Latitude" type="xs:double" />
    <xs:attribute blend:FormatParameters="2" name="Longitude" type="xs:double" />
    <xs:attribute blend:FormatParameters="2" name="Point" type="xs:double" />
    <xs:attribute blend:FormatParameters="2" name="Flag" type="xs:double" />
    <xs:attribute name="Address" type="xs:string" />
    <xs:attribute blend:Format="Address" name="City" type="xs:string" />
    <xs:attribute name="State" type="xs:string" />
    <xs:attribute name="Country" type="xs:string" />
    <xs:attribute blend:FormatParameters="2" name="PostalCode" type="xs:double" />
  </xs:complexType>
  <xs:complexType name="Images">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ImagesItem" type="tns:ImagesItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ImagesItem">
    <xs:attribute name="Image" type="tns:Basic-Image" />
    <xs:attribute name="Image1" type="tns:Basic-Image" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
</xs:schema>